@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --blue: #0abde3;
    --black: #130f40;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

    --lemon-yellow-dark: #E9C005;
    --lemon-yellow-light: #FFFA3C;

    --lemon-green-dark: #2BB32A;
    --lemon-green-light: #49d449;

    --image-icon-salmon: #F5A75F;
    --image-icon-blue: #078A94;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.lead {
    font-size: 1.6rem;
}

section {
    padding: 2rem 9%;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: var(--image-icon-blue);
    border-radius: 5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #EFEFEF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2.5px 25px 0px rgba(0, 0, 0, 0.5);
}

.header .logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.header .navbar a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #000;
}

.header .navbar a:hover {
    color: var(--image-icon-salmon);
}

#menu-btn {
    cursor: pointer;
    color: #000000;
    font-size: 3rem;
    display: none;
}

.home-container {
    margin-top: 7.5%;
}

.home {
    padding-top: 9rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home-text {
    color: var(--black) !important;
}

.home-text-descricao {
    color: var(--light-color) !important;
}

.home-image {
    border-radius: 15%;
}

.btn-primary {
    background-color: #E9C005;
    border: none;
}

.btn-primary:hover {
    background-color: #FFFA3C;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 5rem;
    color: var(--image-icon-blue);
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    height: 100%;
    width: 100%;
    background: #F5A75F;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
    z-index: -1;
}

.services {
    margin-top: 5%;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
}

.services .box-container .box img {
    height: 20rem;
}

.services .box-container .box h3 {
    font-size: 2.3rem;
    color: var(--image-icon-blue);
}

.services .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 1.8;
    text-align: center;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--image-icon-blue);
    border-radius: .5rem;
}

.btn:hover {
    background: var(--image-icon-salmon);
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
    background: #555b69;
  }

.about .row .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 42rem;
}

.about .row .image img {
    width: 75%;
    border-radius: 15%;
}

.about .row .content {
    flex: 1 1 42rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 3.5rem;
    line-height: 1.8;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.tittle-about {
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact {
    margin-top: 5%;
}

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 50%;
    margin: 0 auto;
}

.contact .row form {
    flex: 1 1 42rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
}

.contact .row form h3 {
    color: var(--black);
    font-size: 3rem;
}

.contact .row form .box {
    width: 100%;
    margin: .8rem 0;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: var(--border);
    text-transform: none;
    font-size: 1.4rem;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.contact .row form .box:focus,
.contact .row form .box:hover {
    border-color: var(--image-icon-blue);
}

.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    color: var(--image-icon-blue);
    font-size: 4rem;
    margin: 1rem;
    text-decoration: none;
}

.footer .share a:hover {
    color: var(--image-icon-salmon);
}

.footer .credit {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .grid-home-local {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-image {
        margin: 0 !important;
        padding: 0;
    }

    .home-text {
        text-align: center;
        color: var(--black);
    }

    .home-text-descricao {
        text-align: justify;
        color: var(--light-color);
    }

    .home-container {
        margin-top: 25%;
    }

    .about .row .content h3 {
        color: var(--black);
        font-size: 3.5rem;
        line-height: 1.8;
        text-align: center;
    }
    
    .about .row .content p {
        color: var(--light-color);
        font-size: 1.4rem;
        line-height: 1.8;
        padding: 1rem 0;
        text-align: justify;
    }

    .about .row .image {
        margin-bottom: 5%;
    }

    .contact .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #EFEFEF;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2.5rem 2rem;
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}
